{% include head.html %}

<body>
  <div class="cover-page">

    <!--{% include header.html %}-->
    <header class="cover-title">
      <h1>Gustavo Martusewicz</h1>
      <p>Desenvolvedor front-end.</p>
    </header>
    <nav class="nav-cover">
      <ul>
        {% for page in site.pages %} {% if page.title %}
        <li><a href="{{ page.url | prepend: site.baseurl }}">{{ page.title }}</a></li>
        {% endif %} {% endfor %}
        <li><a href="/projetos">projetos</a></li>
        <li><a href="mailto:gustavo_crj@hotmail.com">contato</a></li>
      </ul>
    </nav>
  </div>
<!--  <div class="container">


    {{ content }}
  </div>-->
  {% include footer.html %}
  {% include js-footer.html %}
</body>

</html>
